.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    height:90px;
    z-index: 10;
}
.header-bg{
    background-color: rgba(0, 0, 0, 0.85);
    transition: 0.5s;
}
.nav-menu{
    display: flex;

}
.nav-menu li{
    padding: 0 1rem ;
}
.nav-menu li a{
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
  
    display: inline-block;
    
}

.nav-menu li a {
    color: #fff;
    text-decoration: none;
    
    display: inline-block;
    
    position: relative;
  }
  .nav-menu li a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  .nav-menu li a:hover:after { 
  width: 100%; 
  left: 0; 
}
  





.HamBurger{
    display: none;
}
h1{
    padding: 0 1rem ;
    padding-bottom: 3rem;
    
}
@media screen  and (max-width:1040px){
    .nav-menu{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width:100%;
        height: 100vh; 
        background:rgba(0,0,0,0.9);
        position: absolute;
        top: 0;
        left: -100%;
        z-index: -3;
    }
    .nav-menu.active{
        left: 0;
    }
   
    .nav-menu li{
        padding: 1rem 0;
    }
    .nav-menu li a{ 
        font-size: 2rem;
    }
    .HamBurger{
        display: initial ;
    }

    
    
   
}
.logo {
    width: 45px; /* Adjust the width as needed */
    height: 45px; /* Allow the height to adjust proportionally */
    margin-right:-20px;
    margin-right: 0.5rem;
    
  }

 